.video-player__container--resize-calc, .video-player__container {
    max-height: none !important;
}
.channel-root+.persistent-player {
    max-height: none !important;
}
.channel-root__info {
    /* 58rem is the width of the live channels (24rem) and the width of the chat (34rem) */
    margin-top: calc(calc(calc(100vw - 58rem) * 1080) / 1920) !important;
}
